@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: 2px solid #f08c51;
}
select:focus {
  outline: 2px solid #f08c51;
}

input {
  padding: 3px 6px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
}

textarea:focus {
  outline: 2px solid #f08c51;
}

textarea {
  padding: 3px 6px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
}

.step-item {
  @apply relative flex flex-col justify-center items-center w-48;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-[#D9D9D9] absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-[4px];
}
.step {
  @apply w-4 h-4 flex items-center justify-center z-10 relative bg-[#D9D9D9] rounded-full border-4 border-white font-semibold text-white;
}
.active .step {
  @apply bg-white border-4 border-primary;
}
.complete .step {
  @apply bg-primary w-6 h-6;
}
.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-primary;
}

.step-text {
  @apply text-[#979797] text-sm;
}

.active .step-text {
  @apply text-primary;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.toast-container {
  position: fixed;
  bottom: 80px;
  right: 50px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.toast-container.show {
  transform: translateX(0);
}

progress {
  border-radius: 7px;
  width: 80%;
  height: 5px;
  margin-left: -11.5%;
}
progress::-webkit-progress-bar {
  background-color: #ebf2ed;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: orange;
  border-radius: 7px;
}
