@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: 2px solid #f08c51;
}
select:focus {
  outline: 2px solid #f08c51;
}

input {
  padding: 3px 6px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
}

textarea:focus {
  outline: 2px solid #f08c51;
}

textarea {
  padding: 3px 6px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  overflow: auto;
  resize: none;
  -webkit-appearance: none;
}
textarea::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
}

textarea::-webkit-scrollbar-thumb {
  background: rgb(212, 212, 212);
  border-radius: 4px;
  margin: 1px;
}

progress {
  border-radius: 7px;
  width: 80%;
  height: 5px;
  margin-left: -11.5%;
}
progress::-webkit-progress-bar {
  background-color: #ebf2ed;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: orange;
  border-radius: 7px;
}
